html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.d-in-bl {
  display: inline-block;
}
.home {
  background-color: #efefef;
  min-height: 100vh;
  min-width: 100%vw;
  display: flex;
  align-items: start;
}
body {
  margin: 0;
}
.sidebar {
  position: fixed;
  top: 0;
  width: 20%;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0 #888888;
  border-radius: 4px;
  height: 100vh;
}
.sidebar .content {
  font-family: 'Open Sans';
  text-align: left;
  padding: 20px 10px 20px 40px;
  color: #8a8a8a;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.1em;
  display: block;
}
.logo {
  text-align: center;
  padding: 35px 0px;
}
.redditIconSvg {
  width: 30px;
}
.redditNameSvg {
  width: 60px;
  margin-left: 10px;
  padding-bottom: 5px;
}
.borderBtm {
  border-bottom: 2px solid #f95d21;
  width: 10%;
  display: block;
  margin: 5px auto;
}

.sideHeading {
  padding-left: 15px !important;
  font-size: 10px !important;
  font-weight: bold !important;
  color: #ff4501 !important;
}
.activeSideMenu {
  color: #000 !important;
  border-left-color: #ff4501;
  border-left-style: groove;
}

/* content */
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.dn {
  display: none;
}
.contentHeaderWrap {
  padding: 30px;
  display: block;
  margin-left: 8.33%;
}
.search {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 1px 1px 0 #888888;
  width: 50%;
}
.searchFocus {
  box-shadow: 0 2px 6px 0 #888888;
  transition: all 200ms ease-in-out;
  width: 70%;

}
input {
  border: none;
  padding: 2px 10px;
  width: 100%;
}
input:focus {
  border: none;
  outline: none;
}
.contentCardWrapper {
  background-color: #fff;
  box-shadow: 0px 2px 6px 0 #888888;
  min-width: 225px;
  min-height: 50px;
  margin-left: 8.33%;
  border-radius: 8px;
  margin-bottom: 25px;
}
.ups {
  padding: 5px;
  color: #505050;
  font-weight: bold;
}
.noCardContent {
  text-align: center;
  margin-top: 100px;
}
.noCardContentTxt {
  text-align: center;
  padding: 30px;
  font-family: Open Sans;
}
.cardWrapper {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
}
.author {
  color: #ff4501;
}
.detailsCardSection {
  margin: 0px 20px;
  width: 50%;
  width: 50%;
}
.imgWrap{
  margin: 0 20px 0 0;
}
.title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
}
.details {
  padding: 5px;
  font-family: Roboto;
  font-size: 13px;
}
.txtEllipsis {
  /* width: 400px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; */
}
.imagePopup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.75);
  z-index: 1;
}
.img {
  max-width: 80vw;
  max-height: 80vh;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 10vh auto;
}
.commentsCount {
  display: inline-block;
  margin-left: 5px;
}